:root{
    --white: #FFF;
    --black: #111111;
    --gray: #343A40;

    --mainFont: 'Raleway', sans-serif;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--mainFont);
    font-size:1.6rem;
    line-height: 1.8;
}

h1,h2,h3{
     font-weight: 900;
     line-height: 1.2;
     margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 5.8rem;
}

h3 {
    font-size: 5rem;
}

a{
    text-decoration: none;
    line-height: 1.2;
}

img{
    max-width: 100%;
    display:block;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn{
    color: var(--gray);
    background-color: var(--white);
    border: 1px solid var(--gray);
    padding: .5rem 2rem;
    transition: background-color .3s;
}

.btn:hover {
    background-color: var(--gray);
    color: var(--white);
}

/** Utilities */
.txt-center{
    text-align: center;
}
.mt-5{
    margin-top: 5rem;
}

/* Header*/
.header{
    min-height: 60rem;
    background-image:url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding: 5rem 0;

}


/* @media (width >= 992px) {
     .header{
        padding: 2rem 0;
     }
} */

.header-content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(60rem - 4rem);
    color: white;
}

.site-name{
  font-weight: 300;
}

.site-name span{
    font-weight: 900;
}



@media (width >= 992px) {
    .site-name{
        font-size: 5rem;
    }
    .bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (width >= 992px) {
     .contact{
        align-items: flex-end;
     }
}

.telephone{
  display: flex;
  gap: 1rem;
}

.telephone::before{
    display:block;
    content: '';
    width: 4rem;
    height: 4rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center center;
}

 a{
    color: white;
    font-size: 2rem;
}

.navegation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:.5rem;
}

@media (width >= 992px) {
    .navegation{
        flex-direction: row;
        
    }
}

.navegation a {
    padding: .5rem;
    transition: background-color .3s;
    width: 100%;
    text-align: center;
}

.navegation a:hover{
    background-color: rgb(255 255 255 / .5);
    color:black;
}
@media (width >= 992px) {
     .navegation a{
        padding: 1rem 2rem;
     }
}

.slogan{
    text-align: center;
}

.slogan h1{
  font-size: 3rem;
  margin:0;
}
@media (width >= 992px) {
     .slogan{
        text-align: right;

     }
     .slogan h1{
        font-size: 5rem;
     }
}
.slogan p{
  margin: 0;
  line-height: 1;
}

/** About us */

.us{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../img/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.content-us{
    background-color: white;
    padding: 5rem;
}

.content-us h2,
.content-us p{
    margin-bottom: 1rem;
}

@media (width >= 992px) {
     .us{
        grid-template-columns: repeat(3,1fr);
     }

     .content-us{
        grid-column: 2/4;
     }
}


.model{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.content-model{
    padding: 5rem;
    background-color: white;
}

.basic{
    background-image: url(../img/modelo_basico.jpg);

}

.premier{
    background-image: url(../img/modelo_premier.jpg);
}
  
.elite{
    background-image: url(../img/modelo_elite.jpg);
}

@media (width >= 992px) {
     .model{
       grid-template-columns: repeat(2,1fr); 
     }
     .basic{
        background-position: top right;
     }
     .basic .content-model{
        grid-row: 2/3;
        padding: 2rem 2rem 2rem 0;
     }
     .premier{
        background-position: top left;
     }
     .premier .content-model{
        grid-column:2 /3 ;
        padding: 2rem;
     }
     .elite{
        background-position: top right;
     }
     .elite .content-model{
        padding: 2rem 2rem 2rem 0 ;
     }
}

.galery {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.galery img {
    object-fit:  cover;
    height: 100%;
}

.galery .image:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;

}

.galery .image:nth-child(3){
    grid-column: 2/3;
    grid-row: 3/5;

}
.galery .image:nth-child(6){
    grid-row: 2/4;

}

@media (width >= 992px) {
    .galery {
        grid-template-columns: repeat(3,1fr);   
    }

    .galery .image:nth-child(2){
        grid-column: 1/2;
        grid-row: 2/4;
    
    }
    
    .galery .image:nth-child(3){
        grid-row:1/2;
    
    }
    .galery .image:nth-child(6){
        grid-row:1/3;
    
    }
}

.footer{
    height: 50rem;
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;

    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.copyright{
    background-color: #111111;
    text-align: center;
    margin: 5rem 0 0 0;
    font-size: 2rem;
    padding: 1rem;
}